# ---------- Python ----------
venv/
__pycache__/
*.pyc
*.pyo

# ---------- Database ----------
*.db

# ---------- React ----------
frontend/node_modules/
frontend/dist/

# ---------- VS Code ----------
.vscode/

# ---------- Logs ----------
*.log

# ---------- Environment ----------
.env

# ---------- OS ----------
.DS_Store
Thumbs.db